/* ...............< fish >.................. */
/*fred the fish*/
.fish_wrap{
    height: 230px;
    left: 38%;
    position: absolute;
    top: 35%;
    width: 290px;
    z-index: 90;
}
.fred{
    transform: rotate(-37deg);
    -moz-transform: rotate(-37deg);
    -webkit-transform: rotate(-37deg);
    -o-transform: rotate(-37deg);
    -ms-transform: rotate(-37deg);
    position: absolute;
    top: 26%;
    left: 36%;
    transition: all 0.4s linear;
}

.fish_body{
    transform: skewX(30deg) skewY(5deg);
    -moz-transform: skewX(30deg) skewY(5deg);
    -webkit-transform: skewX(30deg) skewY(5deg);
    -o-transform: skewX(30deg) skewY(5deg);
    -ms-transform: skewX(30deg) skewY(5deg);
    background-color: #FF9800;
    border-radius: 200px 112px 47px 62px;
    -moz-border-radius: 200px 112px 47px 62px;
    -webkit-border-radius: 200px 112px 47px 62px;
    -o-border-radius: 200px 112px 47px 62px;
    -ms-border-radius: 200px 112px 47px 62px;

    box-shadow: 6px -12px 15px #3A2104 inset, -2px -3px 4px #281602 inset;
    -moz-box-shadow: 6px -12px 15px #3A2104 inset, -2px -3px 4px #281602 inset;
    -webkit-box-shadow: 6px -12px 15px #3A2104 inset, -2px -3px 4px #281602 inset;
    -o-box-shadow: 6px -12px 15px #3A2104 inset, -2px -3px 4px #281602 inset;
    -ms-box-shadow: 6px -12px 15px #3A2104 inset, -2px -3px 4px #281602 inset;
    height: 72px;
    position: absolute;
    top: 60px;
    width: 92px;
}
.eye{
    transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    background-color: #FCFCFC;
    border: 1px solid #323232;
    border-radius: 60px 60px 60px 60px;
    -moz-border-radius: 60px 60px 60px 60px;
    -webkit-border-radius: 60px 60px 60px 60px;
    -o-border-radius: 60px 60px 60px 60px;
    -ms-border-radius: 60px 60px 60px 60px;

    box-shadow: 2px 4px 3px #3D270A;
    -moz-box-shadow: 2px 4px 3px #3D270A;
    -webkit-box-shadow: 2px 4px 3px #3D270A;
    -o-box-shadow: 2px 4px 3px #3D270A;
    -ms-box-shadow: 2px 4px 3px #3D270A;
    height: 27px;
    left: 40px;
    position: absolute;
    top: -1px;
    width: 10px;
}
.eye:before{/*fish eye pupil*/
    border: 2px solid #070707;
    border-radius: 60px 60px 60px 60px;
    -moz-border-radius: 60px 60px 60px 60px;
    -webkit-border-radius: 60px 60px 60px 60px;
    -o-border-radius: 60px 60px 60px 60px;
    -ms-border-radius: 60px 60px 60px 60px;
    content: "";
    height: 7px;
    left: 1px;
    position: absolute;
    top: 11px;
    width: 2px;
}
.scale_1{
    transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    -ms-transform: rotate(35deg);

    border-radius: 60px 60px 60px 60px;
    -moz-border-radius: 60px 60px 60px 60px;
    -webkit-border-radius: 60px 60px 60px 60px;
    -o-border-radius: 60px 60px 60px 60px;
    -ms-border-radius: 60px 60px 60px 60px;
    border-right: 2px solid #432801;
    height: 28px;
    left: 38px;
    position: absolute;
    top: 8px;
    width: 36px;
}
.scale_2{
    transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    -ms-transform: rotate(35deg);

    border-radius: 60px 60px 60px 60px;
    -moz-border-radius: 60px 60px 60px 60px;
    -webkit-border-radius: 60px 60px 60px 60px;
    -o-border-radius: 60px 60px 60px 60px;
    -ms-border-radius: 60px 60px 60px 60px;
    border-right: 2px solid #432801;
    height: 28px;
    left: 30px;
    position: absolute;
    top: 27px;
    width: 36px;
}
.scale_3{
    transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    -ms-transform: rotate(35deg);

    border-radius: 60px 60px 60px 60px;
    -moz-border-radius: 60px 60px 60px 60px;
    -webkit-border-radius: 60px 60px 60px 60px;
    -o-border-radius: 60px 60px 60px 60px;
    -ms-border-radius: 60px 60px 60px 60px;
    border-right: 2px solid #432801;
    height: 28px;
    left: 47px;
    position: absolute;
    top: 19px;
    width: 36px;
}
.scale_4{
    transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    -ms-transform: rotate(35deg);

    border-radius: 60px 60px 60px 60px;
    -moz-border-radius: 60px 60px 60px 60px;
    -webkit-border-radius: 60px 60px 60px 60px;
    -o-border-radius: 60px 60px 60px 60px;
    -ms-border-radius: 60px 60px 60px 60px;
    border-right: 2px solid #432801;
    box-shadow:-5px -1px 4px black inset;
    -moz-box-shadow:-5px -1px 4px black inset;
    -webkit-box-shadow:-5px -1px 4px black inset;
    -o-box-shadow:-5px -1px 4px black inset;
    -ms-box-shadow:-5px -1px 4px black inset;
    height: 32px;
    left: 33px;
    position: absolute;
    top: 29px;
    width: 19px;
}
.top_fin{
    transform: skewX(30deg) skewY(8deg);
    -moz-transform: skewX(30deg) skewY(8deg);
    -webkit-transform: skewX(30deg) skewY(8deg);
    -o-transform: skewX(30deg) skewY(8deg);
    -ms-transform: skewX(30deg) skewY(8deg);
    background-color: #E88B00;
    border-radius: 200px 112px 47px 62px;
    -moz-border-radius: 200px 112px 47px 62px;
    -webkit-border-radius: 200px 112px 47px 62px;
    -o-border-radius: 200px 112px 47px 62px;
    -ms-border-radius: 200px 112px 47px 62px;

    box-shadow: -7px -8px 9px black inset;
    -moz-box-shadow: -7px -8px 9px black inset;
    -webkit-box-shadow: -7px -8px 9px black inset;
    -o-box-shadow: -7px -8px 9px black inset;
    -ms-box-shadow: -7px -8px 9px black inset;
    height: 20px;
    left: 54px;
    position: absolute;
    top: 67px;
    width: 42px;

}
.tail_fin{
    transform: skewX(30deg) skewY(5deg);
    -moz-transform: skewX(30deg) skewY(5deg);
    -webkit-transform: skewX(30deg) skewY(5deg);
    -o-transform: skewX(30deg) skewY(5deg);
    -ms-transform: skewX(30deg) skewY(5deg);
    background-color: #E88B00;
    border-radius: 200px 112px 47px 62px;
    -moz-border-radius: 200px 112px 47px 62px;
    -webkit-border-radius: 200px 112px 47px 62px;
    -o-border-radius: 200px 112px 47px 62px;
    -ms-border-radius: 200px 112px 47px 62px;

    box-shadow:-15px -7px 9px #060200 inset;
    -moz-box-shadow:-15px -7px 9px #060200 inset;
    -webkit-box-shadow:-15px -7px 9px #060200 inset;
    -o-box-shadow:-15px -7px 9px #060200 inset;
    -ms-box-shadow:-15px -7px 9px #060200 inset;
    height: 32px;
    left: 100px;
    position: absolute;
    top: 106px;
    width: 42px;
}
.tail_fin:before{
    transform: skewX(30deg) skewY(5deg);
    -moz-transform: skewX(30deg) skewY(5deg);
    -webkit-transform: skewX(30deg) skewY(5deg);
    -o-transform: skewX(30deg) skewY(5deg);
    -ms-transform: skewX(30deg) skewY(5deg);
    background-color: #E88B00;
    border-radius: 62px 112px 112px 200px;
    -moz-border-radius: 62px 112px 112px 200px;
    -webkit-border-radius: 62px 112px 112px 200px;
    -o-border-radius: 62px 112px 112px 200px;
    -ms-border-radius: 62px 112px 112px 200px;

    box-shadow: 6px 13px 9px #2F1E01 inset, -6px -7px 2px black inset;
    -moz-box-shadow: 6px 13px 9px #2F1E01 inset, -6px -7px 2px black inset;
    -webkit-box-shadow: 6px 13px 9px #2F1E01 inset, -6px -7px 2px black inset;
    -o-box-shadow: 6px 13px 9px #2F1E01 inset, -6px -7px 2px black inset;
    -ms-box-shadow: 6px 13px 9px #2F1E01 inset, -6px -7px 2px black inset;
    content: "";
    height: 32px;
    left: -12px;
    position: absolute;
    top: 28px;
    width: 38px;
}
/* end of fred */

/* start of fish animation */
.fish_wrap{
    z-index: 100;
    animation-name:swim;
    animation-duration:30s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;

    /*webkit*/
    -webkit-animation-name:swim;
    -webkit-animation-duration:30s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
}
/*@keyframes swim{
    from{
        left:200px;
    }
    20%{
        left:0px;
        transform:scaleX(1);
        z-index:90;
    }
    20.5%{
        transform:scaleX(-1);
        z-index:10;
        left:-30px;
    }
    21%{
        left:80px;
    }
    42%{
        left:550px;
    }
    50%{
        z-index:28;
        top:130px;
        left:630px;
        transform:scaleX(-1);
    }
    50.5%{
        transform:scaleX(1);
        z-index:100;
        left:630px;
        top:160px;
    }
    51%{
        left:530px;
        z-index:150;
    }
    60%{
        left:300px;
        z-index:150;
    }
    64%{
        left:200px;
        z-index:150;
    }
    66%{
        left:80px;
        z-index:150;
    }
    69%{
        left:-30px;
        z-index:150;
    }
    70%{
        top:105px;
        left:-30px;
        transform:scaleX(1);
        z-index:90;
    }
    70.5%{
        transform:scaleX(-1);
        z-index:10;
        left:-30px;
    }
    71%{
        left:40px;
    }
    80%{
        left:550px;
    }
    81%{
        left:550px;
        top:70px;
    }
    82%{
        left:550px;
        transform:scaleX(-1);
    }
    82.5%{
        transform:scaleX(1);
        top:70px;
        left:550px;
    }
    84%{
        top:105px;
        left:500px;
        z-index:28;
    }
    88%{
        top:105px;
        left:400px;
        z-index:28;
    }
    to{
        left:200px;
    }
}

@-webkit-keyframes swim{
    from{
        left:200px;
    }
    20%{
        left:0px;
        -webkit-transform:scaleX(1);
        z-index:90;
    }
    20.5%{
        -webkit-transform:scaleX(-1);
        z-index:10;
        left:-30px;
    }
    21%{
        left:80px;
    }
    42%{
        left:550px;
    }
    50%{
        z-index:28;
        top:130px;
        left:630px;
        -webkit-transform:scaleX(-1);
    }
    50.5%{
        -webkit-transform:scaleX(1);
        z-index:100;
        left:630px;
        top:160px;
    }
    51%{
        left:530px;
        z-index:150;
    }
    60%{
        left:300px;
        z-index:150;
    }
    64%{
        left:200px;
        z-index:150;
    }
    66%{
        left:80px;
        z-index:150;
    }
    69%{
        left:-30px;
        z-index:150;
    }
    70%{
        top:105px;
        left:-30px;
        -webkit-transform:scaleX(1);
        z-index:90;
    }
    70.5%{
        -webkit-transform:scaleX(-1);
        z-index:10;
        left:-30px;
    }
    71%{
        left:40px;
    }
    80%{
        left:550px;
    }
    81%{
        left:550px;
        top:70px;
    }
    82%{
        left:550px;
        -webkit-transform:scaleX(-1);
    }
    82.5%{
        -webkit-transform:scaleX(1);
        top:70px;
        left:550px;
    }
    84%{
        top:105px;
        left:500px;
        z-index:28;
    }
    88%{
        top:105px;
        left:400px;
        z-index:28;
    }
    to{
        left:200px;
    }
}*/
/*end of fish path */
.tail_fin{
    animation-name:tail;
    animation-duration: 0.9s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in;
    /*firefox*/
    -moz-animation-name:tail;
    -moz-animation-duration: 0.9s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function: ease-in;
    /*webkit*/
    -webkit-animation-name:tail;
    -webkit-animation-duration: 0.9s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: ease-in;
}
@keyframes tail{
    from{
        transform:scale(.8)skewY(2deg);
    }
    50%{
        transform:scale(.7)skewY(20deg);
    }
    to{
        transform:scale(.8)skewY(2deg);
    }
}

@-webkit-keyframes tail{
    from{
        -webkit-transform:scale(.8)skewY(2deg);
    }
    50%{
        -webkit-transform:scale(.7)skewY(20deg);
    }
    to{
        -webkit-transform:scale(.8)skewY(2deg);
    }
}
/*end of tail fin*/
.scale_4{/*mid fin*/
    animation-name:midfin;
    animation-duration:2s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;

    -moz-animation-name:midfin;
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function: linear;

    -webkit-animation-name:midfin;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes midfin{
    from{
        transform:scale(.8)rotate(15deg);
    }
    50%{
        transform:scale(.6)skewY(30deg)rotate(15deg);
    }
    80%{
        transform:scale(.8)skewY(10deg)rotate(25deg);
    }
    to{
        transform:scale(.8)skewY(10deg)rotate(15deg);
    }
}

@-webkit-keyframes midfin{
    from{
        -webkit-transform:scale(.8)rotate(15deg);
    }
    50%{
        -webkit-transform:scale(.6)skewY(30deg)rotate(15deg);
    }
    80%{
        -webkit-transform:scale(.8)skewY(10deg)rotate(25deg);
    }
    to{
        -webkit-transform:scale(.8)skewY(10deg)rotate(15deg);
    }
}
/*end of mid fin*/
.eye{/*blink effect*/

    animation-name:blink;
    animation-duration:5.7s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;

    -moz-animation-name:blink;
    -moz-animation-duration:5.7s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function: linear;

    -webkit-animation-name:blink;
    -webkit-animation-duration:5.7s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes blink{
    from{
        background-color:white;
    }
    49%{
        background-color:white;
        height: 27px;
        width: 10px;
    }
    50%{
        background-color:#070707;
        height: 20px;
        width: 5px;
    }
    52%{
        background-color:white;
        height: 27px;
        width: 10px;
    }
    to{
        background-color:white;
    }
}

@-webkit-keyframes blink{
    from{
        background-color:white;
    }
    49%{
        background-color:white;
        height: 27px;
        width: 10px;
    }
    50%{
        background-color:#070707;
        height: 20px;
        width: 5px;
    }
    52%{
        background-color:white;
        height: 27px;
        width: 10px;
    }
    to{
        background-color:white;
    }
}
/*end of fish animations*/
/*start of plant animations*/